/* estirification selector for all */
*{
    box-sizing: border-box; /* when you have input it helps to style em */
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    padding: 20px;
    margin: 100px auto;
    max-width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(66, 41, 41, 0.2);
    background-color: grey;
}

h1{
    margin-top: 0;
    text-align: center;
}

input{
    padding: 30px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

button{
    margin-top: 20px;
    width: 100%;
    background-color: lightslategrey;
    padding: 4px;
    text-transform: UpperCase;
    font-size: 16px;
    color: black;
    border: none;
    transition: background-color .2s ease;
    cursor: pointer;
}

button:hover{
    background-color: lightsteelblue;
}

#total{
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;

}